{% extends "drive_log/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    {% if is_drive_in_progress %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button class="btn btn-primary">End Drive</button>
            </div>
        </form>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid">
                <button class="btn btn-primary">Start Drive</button>
            </div>
        </form>
    {% endif %}
    <div>
        <span>Latest log</span>
        <br>
        <span>Date: {{ latest_log.date }}</span>
        <br>
        <span>Start km: {{ latest_log.start_km }}</span>
        <br>
        <span>Job site: {{ latest_log.job_site }}</span>
        <br>
        <span>Status: {{ latest_log.status }}</span>
    </div>
{% endblock content %}
