{% extends "drive_log/base.html" %}
{% block content %}
    <h2 class="text-center">Job sites</h2>
    <div class="d-grid">
        <a href="{% url 'job-sites-create' %}" class="btn btn-primary mb-3">Add Job Site</a>
    </div>
    {% if job_sites %}
        <div class="vstack gap-2">
            {% for job_site in job_sites %}
                <div class="card">
                    <div class="card-body">
                        {{ job_site.name }}
                        <a href="{% url 'jobsite_confirm_delete' job_site.pk %}">Delete</a>
                        <a href="{% url 'jobsite_edit' job_site.pk %}">Edit</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
